*{
	margin:0px;
	padding:0px;
	font-family:helvetica Neue;
	background-color:red;
}
div#titulos{
	width: 100%;
	margin-top:100px;


}
p#header{
	text-align:center;
	font-size: 2.5em;
	color:black;
}
p#subheader{
	text-align: center;
	margin-top: 20px;
	font-size:1.3em;
	color:black;
}
header{
	margin-top:100px auto;
	width:900px;
	height: 230px;
	background-color: red;

}
div.contenedor{
	width:150px;
	height: 230px;
	float:left;
	-webkit-transition:height .4s;
}
div#uno{
	background-color:rgb(233,147,26);
    
}
div#dos{
	background-color: rgb(208,101,3);
}
div#tres{
	background-color:rgb(22,145,190);
}
div#cuatro{background-color:rgba(22,107,162);

}
div#cinco{
	background-color: rgb(27,54,71);
}
div#ceis{
	background-color: rgb(21,40,54);
}
img.icon{
	display:block;
	margin: 50px;
	background-color:rgba(255,255,255,.15);
	width: 40px;
	padding:20px;
	-webkit-border-radius:50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0); 
	-webkit-transition:box-shadow .4s;
}
p.texto{
	font-size:1.2em;
	color: white;
	text-align: center;
	padding-top: 10px;
	opacity:.6;
	-webkit-transition:padding-top .4s;
} 
div#funo{
	width:500px;
	height:150px;
	float:left;
	margin-top:30px; 
	margin-bottom:30px ;
	margin-right:0;
	margin-left:10px ;
}
div#fdos{
	width:400px;
	height:150px;
	float:right;
	margin-top:30px; 
	margin-bottom:30px ;
	margin-right:0;
	margin-left:10px;
}
div#ftres{
	width:1000px;
	height:150px;
	margin-top:200px; 
	margin-bottom:30px ;
	margin-right:10;
	margin-left:10px ;
	text-align:center;
}
div.contenedor:hover{
height: 280px;
}
div.contenedor:hover p.texto{
	padding-top:30px;
	opacity: 1;

}
div.contenedor:hover img.icon{
	-webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,.6);
}
.zoom{
	/*aumentamos la altura y anchura durante 2 segundos*/
	transition:width 2s,heigth 2s,transform 2s;
	-moz-transition:width 2s, heigth 2s, -moz-transform 2s;
    -webkit-transition:width 2s, heigth 2s, -webkit-transform 2s;
    -o-transition:width 2s, heigth 2s, -o-transform 2s;
}
.zoom:hover{
	/*tranformamos el elemento al pasar el mouse por encima al doble de su tamaño con scale(2).*/
	transform:scale(2) ;
	-moz-transform:scale(2); /*firefox*/
	-webkit-transform:scale(2); /*crome-safari*/
	-o-transform:scale(2); /*opera*/
}  